<html>

<head>
    <title>MEDISYS</title>
    <link rel="stylesheet" href="/icons/css/icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

    <!-- ----------- SIDE BAR ------------- -->
    <div class="sidebar">
        <div class="sidebar-container">
            <div class="user-info">
                <div class="profile-pic"></div>
                <div class="user-name">
                    <span id="name">ROHIT GUPTA</span>
                    <span id="type">Administrator</span>
                    <br><span id="logout">Logout</span>
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><i class="fa fa-home"></i>HOME</li>
                    <li><i class="fa fa-cube"></i><span id="active">PRODUCTS</span></li>
                    <li><i class="fa fa-print"></i>INVOICES</li>
                    <li><i class="fa fa-cog"></i>SETTINGS</li>
                </ul>
            </div>
            <div class="logo"></div>
        </div>
    </div>
    <!-- ----------- TOP BAR ------------- -->
    <div class="topbar">
        <span class="heading">PRODUCTS</span>
        <div class="notifications">
            <i class="fa fa-bell"></i>
        </div>
    </div>
    <!-- ----------- CONTENT ------------- -->
    <div class="content">
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Supplier</th>
                    <th>Expiry</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>120001</td>
                    <td>Nimulid</td>
                    <td>45</td>
                    <td>&#8377 292.30</td>
                    <td>Cipla Pharm. Pvt Ltd</td>
                    <td>12-08-2016</td>
                </tr>

                <tr>
                    <td>120002</td>
                    <td>Cipro</td>
                    <td>23</td>
                    <td>&#8377 321.76</td>
                    <td>Cipla Pharm. Pvt Ltd</td>
                    <td>03-11-2016</td>
                </tr>

                <tr>
                    <td>120003</td>
                    <td>Cymbalta</td>
                    <td>29</td>
                    <td>&#8377 77.12</td>
                    <td>Cipla Pharm. Pvt Ltd</td>
                    <td>15-12-2016</td>
                </tr>

                <tr>
                    <td>120004</td>
                    <td>Flexeril</td>
                    <td>10</td>
                    <td>&#8377 123.43</td>
                    <td>Cipla Pharm. Pvt Ltd</td>
                    <td>12-08-2016</td>
                </tr>

                <tr>
                    <td>120005</td>
                    <td>Hydrocodone</td>
                    <td>34</td>
                    <td>&#8377 223.30</td>
                    <td>Cipla Pharm. Pvt Ltd</td>
                    <td>22-04-2016</td>
                </tr>

                <tr>
                    <td>120006</td>
                    <td>Lexapro</td>
                    <td>38</td>
                    <td>&#8377 32.30</td>
                    <td>Cipla Pharm. Pvt Ltd</td>
                    <td>19-03-2016</td>
                </tr>

                <tr>
                    <td>120007</td>
                    <td>Lisinopril</td>
                    <td>5</td>
                    <td>&#8377 46.99</td>
                    <td>Cipla Pharm. Pvt Ltd</td>
                    <td>12-04-2016</td>
                </tr>

                <tr>
                    <td>120008</td>
                    <td>Disprin</td>
                    <td>9</td>
                    <td>&#8377 61.39</td>
                    <td>Cipla Pharm. Pvt Ltd</td>
                    <td>17-05-2016</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>