<% include header %>

<body>

    <% include infobars %>

   <div class="content" align="center">
   		<i class="fa fa-refresh fa-5x" id="placeholder"></i>
   		<span id="placeholder"><h3>Oops! Try Reloading The Page !<h3></span>
   </div>
</body>
</html>