<div class="sidebar">
    <div class="sidebar-container">
        <div class="user-info">
            <div class="profile-pic"></div>
            <div class="user-name">
                <span id="name">ROHIT GUPTA</span>
                <span id="type">Administrator</span>
                <br><span id="logout"><a href="/logout">Logout</a></span>
            </div>
        </div>
        <div class="nav-links">
            <ul>
                <li><i class="fa fa-home"></i>HOME</li>
                <li><i class="fa fa-cube"></i><span id="active">PRODUCTS</span></li>
                <li><i class="fa fa-print"></i>INVOICES</li>
                <li><i class="fa fa-cog"></i>SETTINGS</li>
            </ul>
        </div>
        <div class="logo"></div>
    </div>
</div>

<!-- ----------- TOP BAR ------------- -->
<div class="topbar">
    <span class="heading"><%= title.toUpperCase() %></span>
    <div class="notifications">
        <i class="fa fa-bell"></i>
    </div>
</div>