<div class="sidebar">
    <div class="sidebar-container">
        <div class="user-info">
            <div class="profile-pic"></div>
            <div class="user-name">
                <span id="name">ROHIT GUPTA</span>
                <span id="type">Administrator</span>
                <br><span id="logout"><a href="/logout">Logout</a></span>
            </div>
        </div>
        <div class="nav-links">
            <ul>
                <a href="/dashboard"><li><i class="fa fa-home"></i><span <% if (title == "dashboard") { %> id="active" <% } %> >HOME</span></li></a>
                <a href="/products"><li><i class="fa fa-cube"></i><span <% if (title == "products") { %> id="active" <% } %> >PRODUCTS</span></li></a>
                <a href="/invoices"><li><i class="fa fa-print"></i><span <% if (title == "invoices") { %> id="active" <% } %> >INVOICES</span></li></a>
                <a href="/settings"><li><i class="fa fa-cog"></i><span <% if (title == "settings") { %> id="active" <% } %> >SETTINGS</span></li></a>
        </div>
        <div class="logo"></div>
    </div>
</div>

<!-- ----------- TOP BAR ------------- -->
<div class="topbar">
    <span class="heading"><%= title.toUpperCase() %></span>
    <div class="notifications">
        <i class="fa fa-bell"></i>
    </div>
</div>