<html>

<head>
    <title>MEDISYS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="login-background">
    </div>
    <div class="login-box">
        <div class="login-logo">     
        </div>
        <div class="input-container">
           <form action="dashboard">
            <input type="text" required placeholder="Username">
            <input type="password" required placeholder="Password">
            <input type="submit" class="login-button" value="LOGIN">
            </form>
        </div>
    </div>
</body>

</html>