<% include header %>

<body>
    <div class="login-background">
    </div>
    <div class="login-box">
        <div class="login-logo"></div>

       <% if (message != "") { %>
        <div class="alert alert-danger" role="alert" id="login-alert"><%= message %></div>
        <% } %>

        <div class="input-container">
           <form action="/post/login" method="post">
            <input type="text" required placeholder="Username" name="username">
            <input type="password" required placeholder="Password" name="password">
            <input type="submit" class="button" value="LOGIN">
            </form>
        </div>
    </div>
</body>

</html>