
body {
    margin: 0;
    padding: 0;
    background: white;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.button{
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 35px;
    padding: 15px;
    width: 200px;
    text-align: center;
}
.button:hover{
    background: #6e9f35;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    width: 15%;
    min-width: 240px;
    height: 100%;
    background: #212121;
}

.topbar {
    position: absolute;
    width: 85%;
    height: 60px;
    right: 0;
    background: #EEEEEE;
}

.sidebar-container {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 10%;
}

.user-info {
    height: 120px;
    border-bottom: 2px solid #333;
}

.profile-pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    border: 3px solid white;
    margin-left: 10px;
    background: url(/images/forum-user.png) center bottom no-repeat;
    background-size: 60px;
}

.user-name {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 10%;
    padding: 10px 0px 20px 20px;
}

.user-name span{
    font-family: calibri;
    color: white;
    font-size: 1.2em;
}

.user-name #type{
    font-size: 15px;
    color: #888;
}

.user-name #logout{
    display: block;
    font-size: 15px;
    color: #aaa;
    margin-top: 5px;
}

.nav-links li{
    display: block;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    color: white;
    font-family: calibri;
    font-size: 18px;
    margin: 0 auto;
    
}

.nav-links ul{
    display: block;
    position: absolute;
    padding: 10px 0px;
    width: 100%;
    left: 0px;
    box-sizing: border-box;
}

.nav-links i{
    display: inline-block;
    width: 25px;
    margin-right: 10px;
    text-align: center;
}

.nav-links li:hover{
    background: #8BC34A;
}
#active {
    border-bottom: 2px solid #8BC34A;
}
.notifications {
    display: block;
    position: relative;
    width: 20%;
    height: 100%;    
    float: right;
    padding-right: 15px;
}

.notifications i{
    margin: 20px 150px;
    float: right;
    font-size: 20px;
    color: #888;
}

.heading {
    display: inline-block;
    margin: 15px 50px;
    font-size: 25px;
    font-family: 'Calibri light';
    color: #555;
}

.content {
    position: absolute;
    display: block;
    width: 85%;
    height: 100%;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 150px 200px;
}



.pure-table {
    border: 1px solid #ddd;
    font-family: mangal;
}

.pure-table th, td {
    text-align: left;
    padding: 8px;
}

.pure-table tr:nth-child(even){background-color: #f2f2f2}

.pure-table tr:hover {
    background-color: #7ed077;
    color: white;
}
.pure-table th {
    background-color: #4CAF50;
    color: white;
}
.logo {
    position: absolute;
    bottom: 20px;
    height: 55px;
    width: 90%;
    box-sizing: border-box;
    background: url(/images/logo.png) center center no-repeat;
    background-size: contain;
    opacity: 0.2;
}

.login-background {
    width: 100%;
    height: 100%;
    background: #ddd url(/images/pattern.jpg) center center repeat;
    background-size: 250px;
    opacity: .7;
    background-blend-mode: multiply;
}

.login-box {
    position: absolute;
    top: calc(50% - 250px);
    width: 400px;
    height: 500px;
    left: calc(50% - 200px);
    background: rgba(255,255,255,0.9);
}

.login-logo {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 150px;
    background: url(/images/logo1.png) center center no-repeat;
    background-size: contain;
}

.input-container {
    position: absolute;
    top: 200px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 200px);
    padding: 20px;
}

.input-container input{
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-container .login-button{
    background: #8BC34A;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 35px;
}

.input-container .login-button:hover{
    background: #6e9f35;
    cursor: pointer;
}


#login-alert{
    position: relative;
    top: 140px;
    margin: 0 20px;
    text-align: center;

}

/* ---- DASHBOARD WIDGETS ---- */

.widget {
    display: inline-block;
    width: 48%;
    height: 50%;
    box-sizing: border-box;
    border: 1px solid #e74c3c;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#content-widget {
    padding: 100px 200px;
}

.widget-heading {
    width: 100%;
    height: 50px;
    position: relative;
    top: 0;
    background: #e74c3c;
    padding: 10px 25px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.widget-content {
    width: 100%;
    padding: 15px;
}

#placeholder {
    color: #aaa;
    margin-top: 40px;
}
#widget2 {
    border-color: #16a085;
}
#widget2 .widget-heading {
    background: #16a085;
}


/* ---------  ONLINE MEDICINE SEARCH ----------- */

.medicine-info-scrape p {
    display: inline-block;
    width: 50%;
    padding-right: 5px;
}

.medicine-info-scrape img {
    display: inline-block;
    max-width: 50%;
    width: auto;
    height: auto;
    margin-top: -50px;
}
